.Tag {
  display: inline-block;
  margin-right: 5px;
  box-sizing: border-box;
  border-radius: 20px;
}
.small {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 12px;
}

.medium {
  padding: 5px 10px;
  font-size: 14px;
  line-height: 14px;
}

.red {
  color: var(--white);
  background-color: #de0000;
}

.ghost {
  border: 1px solid var(--gray-light);
  //   background-color: var(--white);
}
.grey {
  color: var(--white);
  background-color: #b3c0d9;
}
.green {
  color: var(--green);
  background-color: var(--green-lite);
}
.primary {
  color: var(--primary);
  border: 1px solid var(--primary);
}
